@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');


body {
    font-family: 'JetBrains Mono', monospace;
    color: white;
    background-image: url("img/background.gif");
    margin: 0px;
   }

h1 {
    font-family: 'Pixelify Sans', sans-serif;
    color: crimson;
    font-size: 1.5rem;
    text-shadow: 0px 0px 30px crimson;
    line-height: 10px;
}

h2 {
    font-family: 'Pixelify Sans', sans-serif;
    color: crimson;
    font-size: 1.2rem;
    text-shadow: 0px 0px 30px crimson;
    line-height: 0px;

}

h2:hover {
    text-shadow: 30px ;

}

h3 {
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
    font-size: 1rem;
    text-shadow: 0px 0px 5px cyan ;
    line-height: 10px;
}

p {
    transition: 1.5s;
}


.cita {
    color: cyan;
    font-family: "EB Garamond", serif;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-style: italic;
    text-shadow: 0px 0px 20px #0b0c26;
    
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    padding: 5px;
    padding-left: 10px;
    padding-right: 20px;
    background: #0b0c26;
    border-bottom: 4px solid crimson;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.topbar {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer {
    padding: 5px;
    background: #0b0c26;
    text-align: center;
    line-height: 0px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    padding: 10px;
}

.side {
    padding: 20px;
    margin:10px;
    flex: 35%;
}

.main {
    padding: 20px;
    margin: 10px;
    flex: 65%;
/*    background-color: #0b0c26;
    border: 4px solid crimson;*/
    display: flex;
}

.film {
    padding: 10px;
    margin: 10px;
    margin-bottom:20px;
    background-color: #0b0c26;
    border: 4px solid;
    border-image: linear-gradient(gold, chocolate) 1;
    box-shadow: 0px 0px 30px red;
    display: flex;
    width: 500px;
}

.desccolor:hover {
    background-color:  cyan;
    box-shadow: 0px 0px 10px cyan;
    color: blue;
    transition: 0.5s;
}



/* Reviews-Comentarios */
.review {
    padding: 10px;
    margin: 10px;
    margin-bottom:20px;
    border-left: 4px solid crimson;
    display: flex;
    height: auto;
    max-height: 250px;
}

.gridreviews {
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-columns: 80px auto;
    column-gap: 20px;
    row-gap: 15px;
}

.usuarioreviews {
    grid-row: 1/1;
    grid-column: 2/2;  
}

.comentarioreviews {
    grid-row: 2/2;
    grid-column: 2/2;
}

.valoracionreviews {
    grid-row: 2/2;
    grid-column: 2/2;
}

.fotoreviews {
    grid-row: span 1;
    grid-column: span 1;
    place-self: center;
}

.portadareviews {
    height: 120px;
    min-width: 80px;
    max-width: 80px;
    grid-row: 2 / 2;
    grid-column: span 1;
    border: 2px solid gold;
}

.checked {
    color: crimson;
    rotate: 180deg;
}

.halfchecked {
    rotate: 180deg;
    background: linear-gradient(to left, crimson 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.unchecked {
    color: white;
    rotate: 180deg;
}

.fotoperfil {
    border: 2px solid white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}


   /* display: grid;
    grid-template-rows: 50px 50px 100px;
    grid-template-columns: 120px minmax(300px, 400px);
    grid-gap: 20px;*/
.portada {
    /*grid-row: span 3;
    grid-column: span 1;*/
    height: 200px;
    min-width: 120px;
    max-width: 120px;
    margin: 10px;
    margin-right: 20px;
}

p {
    font-size: 0.8rem;
}

/*
.desc { 
    grid-row: 3/3;
    grid-column: 2/2;
}

.titulo {
    grid-row: span 1;
    grid-column: 2/2;
}

.director {
    grid-row: 2/2;
    grid-column: 2/2;
}

*/

@media screen and (max-width: 990px) {
    
    .header {
        margin: 0px;
    }
    
    .row, .main, .side {
        flex-direction: column;
        background: none;
        border: none;
    }


    .portada {
        height: 200px;
        min-width: 120px;
        max-width: 500px;
        display: block;
        margin: 10px;
        margin-right: 10px;
    }

    .film {
        width: auto;
        height: auto;
        max-height: auto;
    }
}

@media screen and (max-width: 550px){
    
    .film {
        padding: 10px;
        margin: 0px;
        margin-bottom: 20px;
        width: auto;
        height: auto;
    }  

    .header {
        margin: 0px;
    }
    .main, .side, .row {
        margin: 0px;
        margin-bottom: 10px;
        background: none;
        border: none;
    }

    h2 {
        font-size: 1.5rem;   
    }
}

 
